.chargePage{

  .fastBtn{
    padding: 15px 15px;
    background: #fff;

    p{
      border-bottom: 0.5px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 10px;
      font-size: 14px;
    }

    li{
      display: inline-block;
      width: 25%;
      text-align: center;

      span{
        background: #f9f9f9;
        color: #333;
        display: block;
        margin: 4px;
        line-height: 32px;
        border-radius: 3px;
        font-size: 13px;
      }
    }
  }
}