//导航侧边栏


.navSideBar {
  position: absolute;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.navSideBar .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .sideGameList{
    padding: 10px 15px 15px;
    background: #fff;
    width: 280px;

    .box{
      display: block;
      width: 100%;
      background-color: #fff;

      .title{
        line-height: 40px;
        border-bottom: 0.5px solid #e5e5e5;
        padding-left: 5px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      li{
        width: 33.33%;
        display: inline-block;
        text-align: center;
        padding: 10px 0;

        img{
          width: 56px;
        }

        p{
          font-size: 12px;
          line-height: 32px;
          color: #333;
        }
      }
    }
  }
}


//通用表单样式

.from{

  .listItem{
    padding-top: 10px;

    .am-input-label , .am-list-content, .am-list-extra, .am-input-control input{
      font-size: 14px!important;
    }

    .am-input-control input{
      text-align: right;
    }
  }

  .bottonBtn{
    padding: 0 15px;
    margin-top: 30px;

    .am-button{
      font-size: 15px;
      height: 44px;
      line-height: 44px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: linear-gradient(45deg, #da3939, #f55b5b);
    }

    .am-button::before{
      border: 0!important;
    }
  }

  .am-list-footer, .am-list-header{
    padding: 15px;
    font-size: 12px;
  }
}